.app {
  font-family: Arial, sans-serif;
  margin: 1.25rem;
  background-color: white;
}

.notes-section {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1.25rem 0;
}

.notes-section button {
  width: 25rem;
  height: 10rem;
  color: black;
  border: 0.1rem solid #ccc;
  cursor: pointer;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  transition: background-color 0.3s;
  text-align: center;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.notes-section button.general {
  background-color: #d3d3d3;
}

.notes-section button.general:hover {
  background-color: #c0c0c0;
}

.notes-section button.important {
  background-color: #ffcccc;
}

.notes-section button.important:hover {
  background-color: #ff9999;
}

.days-section {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
  max-width: 52rem;
  margin: 0 auto;
}

.days-section button {
  width: 12.5rem;
  height: 12.5rem;
  background-color: #FFEB3B;
  color: black;
  border: 0.1rem solid #ccc;
  cursor: pointer;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  transition: background-color 0.3s;
  text-align: center;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.days-section button:hover {
  background-color: #FFD700;
}

.days-section .self-care-button {
  background-color: #90EE90;
  color: black;
  border: 0.1rem solid #76c776;
}

.days-section .self-care-button:hover {
  background-color: #76c776;
}